<%- include('req/header') %>

    <!-- ==========  herder end ================== -->


    <!-- slider typing effects --------------------------------------->
<div class="typingscript" style="background-image: url(assets/1.png); background-position: center; ">
    <div class="typingscriptcontainer">
      <h1 style="font-size: 3.5rem; font-weight: 200; margin: 0.4rem;">Our Services : 
        <span class="txt-type" data-wait="3000" data-words='["Banking", "Professional Advisory", "Wealth Management", "Mutual Funds", "Insurance", "Stock Market", "Treasury/Debt Instruments"]'></span>
      </h1>
      <h2 style="font-size: 2rem; font-weight: 200; margin: 0.4rem;">Welcome To Service Available</h2>
    </div>
</div>


    <!-- ===============================slider end=================================== -->

    <!-- about us -->


<div class="container">

<div style="margin-top: 50px; margin-bottom: 50px;">
  <!-- <h1 class="display-4" align="center">About Us.</h1> -->
  <hr align="center" width="50%">
</div>


  <div class="row">    
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
      
      <div class="card-body">
      <h5 class="card-title">Planning Futures</h5>
      <p class="card-text">We have years of experience helping clients prepare for the unknown while meeting their financial goals. Ask us about</p>
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
    </div>
  </div>

<div class="col-sm-4">
      <div class="card" style="width: 18rem;">
      
      <div class="card-body">
      <h5 class="card-title">Comprehensive Approach</h5>
      <p class="card-text">We use proven finance strategies designed to meet your risk tolerance and stand up against market volatility. And you can count on unbiased recommendations and impartial guidance based directly on your needs and goals.</p>
      
    </div>
    </div>
  </div>

<div class="col-sm-4">
      <div class="card" style="width: 18rem;">
      
      <div class="card-body">
      <h5 class="card-title">Committed to Service</h5>
      <p class="card-text">Every successful financial strategy starts with an excellent client relationship. Our mission and values include exceeding our client’s every expectation. Call us today to find out how we can suggest long- and short-term strategies that will help you realize your financial dreams.</p>
      
    </div>
    </div>
  </div>

  </div>
  
</div>
<!-- ==============     about end     ================== -->

<!-- contact section -->
<div class="container">

<div style="margin-top: 50px; margin-bottom: 50px;">
  <h2 class="display-4" align="center">Contact Us..</h2>
  <hr align="center" width="50%">
</div>
<h4 align="center">Get Started Today</h4>
<p align="center">Reach out with any questions or to set up a meeting to discover the best path to your financial freedom! </p>

<h4 align="center">Service available</h4>
<p align="center">Shahdara, Delhi, India</p>
<p align="center">vivekgupta989898@gmail.com</p>
<p align="center"> 9582340683 </p>
</div>

<!-- ===============end contact================= -->


<%- include('req/footer') %>