<%- include('req/header') %>


<div class="container">
    <div style="margin-top: 50px; margin-bottom: 50px;">
        <h1 class="display-4" align="center">Our Services</h1>
        <hr align="center" width="50%">
    </div>
<h2>Banking</h2>
<p>    The banking industry is the backbone of India’s financial services industry. The country has several public sector (27), private sector (21), foreign (49), regional rural (56) and urban/rural cooperative (95,000+) banks. The financial services offered in this segment include:</p>
<p>    Individual Banking (checking accounts, savings accounts, debit/credit cards, etc.)</p>
<p> Business Banking (merchant services, checking accounts and savings accounts for businesses, treasury services, etc.)</p>
<p> Loans (business loans, personal loans, home loans, automobile loans, working-capital loans, etc.)</p>
<p> The banking sector is regulated by the Reserve Bank of India (RBI), which monitors and maintains the segment’s liquidity, capitalization, and financial health.</p>

<br>
<hr align="left" width="50%">
<h2>Professional Advisory </h2>
<p> India has a strong presence of professional financial advisory service providers, which offer individuals and businesses a wide portfolio of services, including investment due diligence, M&A advisory, valuation, real-estate consulting, risk consulting, taxation consulting. These offerings are made by a range of providers, including individual domestic consultants to large multi-national organizations. </p>

<br><br>
<hr align="left" width="50%">
<h2>Wealth Management </h2>
<p> Financial services offered within this segment include managing and investing customers’ wealth across various financial instruments- including debt, equity, mutual funds, insurance products, derivatives, structured products, commodities, and real estate, based on the clients’ financial goals, risk profile and time horizons. </p>
<br><br>
<hr align="left" width="50%">
<h2>Mutual Funds</h2>
<p>Mutual fund service providers offer professional investment services across funds that are composed of different asset classes, primarily debt and equity-linked assets. The buy-in for mutual fund solutions is generally lower compared to the stock market and debt products. These products are very popular in India as they generally have lower risks, tax benefits, stable returns and properties of diversification. The mutual funds segment has witnessed double-digit growth in assets under management over the last five years, owing to its popularity as a low-risk wealth multiplier.</p>
<br><br>
<hr align="left" width="50%">
<h2>Insurance </h2>
<p>Financial services offerings in this segment are primarily offered across two categories:</p>
<p>General Insurance (automotive, home, medical, fire, travel, etc.)</p>
<p>Life Insurance (term-life, money-back, unit-linked, pension plans, etc.)</p>
<p> Insurance solutions enable individuals and organizations to safeguard against unforeseen circumstances and accidents. Payouts for these products vary across the nature of the product, time horizons, customer risk assessment, premiums, and several other key qualitative and quantitative aspects. In India, there is a strong presence of insurance providers across life insurance (24) and general insurance (39) categories. The insurance market is regulated by the Insurance Regulatory and Development Authority of India (IRDAI). </p>
<br><br>
<hr align="left" width="50%">
<h2>Stock Market</h2>
<p>The stock market segment includes investment solutions for customers in Indian stock markets (National Stock Exchange and Bombay Stock Exchange), across various equity-linked products. The returns for customers are based on capital appreciation – growth in the value of the equity solution and/or dividends – and payouts made by companies to its investors. </p>
<br><br>
<hr align="left" width="50%">
<h2>Treasury/Debt Instruments </h2>
<p>    Services offered in this segment include investments into government and private organization bonds (debt). The issuer of the bonds (borrower) offers fixed payments (interest) and principal repayment to the investor at the end of the investment period. The types of instruments in this segment include listed bonds, non-convertible debentures, capital-gain bonds, GoI savings bonds, tax-free bonds, etc.</p>
<br><br>
<hr align="left" width="50%">
<h2>  Tax/Audit Consulting</h2>
<p>This segment includes a large portfolio of financial services within the tax and auditing domain. This services domain can be segmented based on individual and business clients. They include:</p><p>Tax – Individual (determining tax liability, filing tax-returns, tax-savings advisory, etc.)</p>
<p>Tax – Business (determining tax liability, transfer pricing analysis and structuring, GST registrations, tax compliance advisory, etc.)</p>
<p> In the auditing segment, service providers offer solutions including statutory audits, internal audits, service tax audits, tax audits, process/transaction audits, risk audits, stock audits, etc. These services are essential to ensure the smooth operation of business entities from a qualitative and quantitative perspective, as well as to mitigate risk. You can read more about taxation in India.</p>

<br><br>
<hr align="left" width="50%">
<h2>Capital Restructuring</h2>
<p> These services are offered primarily to organizations and involve the restructuring of capital structure (debt and equity) to bolster profitability or respond to crises such as bankruptcy, volatile markets, liquidity crunch or hostile takeovers. The types of financial solutions in this segment typically include structured transactions, lender negotiations, accelerated M&A and capital raising. </p>

<br><br>
<hr align="left" width="50%">
<h2>Portfolio Management</h2>
<p> This segment includes a highly specialized and customized range of solutions that enables clients to reach their financial goals through portfolio managers who analyze and optimize investments for clients across a wide range of assets (debt, equity, insurance, real estate, etc.). These services are broadly targeted at HNIs and are discretionary (investment only at the discretion of fund manager with no client intervention) and non-discretionary (decisions made with client intervention). </p>

</div>

<%- include('req/footer') %>