<br><br>

<footer style="background-color: rgb(0, 0, 0); padding-top: 50px; padding-bottom: 20px; color: aliceblue;">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-4">
          <h3>Service available</h3>
        <p>Reach out with any questions or to set up a meeting to discover the best path to your financial freedom!</p>
        </div>
  
        <div class="col-sm-2">
        <ul>
          <li>Home</li>
          <li>services</li>
          <li>Blog</li>
          <li>contact</li>
        </ul>
        </div>
        
        <div class="col-sm-2">
          <ul>
            <li>Home</li>
            <li>services</li>
            <li>Blog</li>
            <li>contact</li>
          </ul>
        </div>
        
        <div class="col-sm-2">
          <ul>
            <li>Home</li>
            <li>services</li>
            <li>Blog</li>
            <li>contact</li>
          </ul>
        </div>
  
        <div class="col-sm-2">
          <h4 align="center">Follow us..</h4>
          <div align="center" style="margin-top: 5%;">
          <i class="fa fa-facebook fa-2x"></i>
          <i class="fa fa-instagram fa-2x"></i>
          <i class="fa fa-twitter fa-2x"></i>
          </div>
        </div>
  
  
      </div>
      <div>
        <hr width="50%" align="right" color="white">
        <p align="right" style="font-family: Bubbler One;">All ©copyright reserved by <b><big>saqib khan</big></b></p>
      </div>
    </div>
  </footer>
  
  
  
  
  
  
  
  
  
  <!-- typing effect js -->
    <script src="js/typingscriptmain.js"></script>
  <!--  ====================   -->
  
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
  </html>